scenario_name: "pony_data"

local_data {
  #lidar_dir: "/home/jcvb/work/PublicCourse/perception/fafafa/select/VelodyneDevice32c"
  #label_dir: "/home/jcvb/work/PublicCourse/perception/fafafa/label/VelodyneDevice32c"

  #lidar_dir: "/home/jcvb/work/PublicCourse/data/test/select/VelodyneDevice32c"
  #label_dir: "/home/jcvb/work/PublicCourse/data/test/label/VelodyneDevice32c"

  #lidar_dir: "/home/jcvb/work/PublicCourse/data/20171229_nanian_130255/select/VelodyneDevice32c"
  #label_dir: "/home/jcvb/work/PublicCourse/data/20171229_nanian_130255/label/VelodyneDevice32c"

  lidar_dir: "/home/jcvb/work/PublicCourse/data/20180103_nanian_103247/select/VelodyneDevice32c"
  label_dir: "/home/jcvb/work/PublicCourse/data/20180103_nanian_103247/label/VelodyneDevice32c"

  #camera_dir: "/${DATA_DIR}/select/GigECameraDeviceWideAngle"
}

